@model IQueryable<TeamManagement.Models.ApplicationUser>
@{
    ViewBag.Title = "Index";

}

<h2>@ViewBag.Title</h2>
<h3>Demographics</h3>
<div class="form-group">
    @foreach (var item in Model)
    {
        @Html.LabelFor(m => item.FirstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => item.FirstName, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => item.LastName , new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => item.LastName, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => item.Address, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => item.Address, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => item.City, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => item.City, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => item.State, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => item.State, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => item.Zip, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => item.Zip, new { @class = "form-control" })
        </div>
        @Html.LabelFor(m => item.PhoneNumber, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => item.PhoneNumber, new { @class = "form-control" })
        </div>
    }
</div>
