@model TeamManagement.Models.ApplicationUser 
@{
    ViewBag.Title = "Index";

}

<h2>@ViewBag.Title</h2>
<h3>Demographics</h3>

<p>To edit your demographics please click here: @Html.ActionLink("Edit", "Edit", "Player")</p>

<p>First Name:  @Model.FirstName</p>

<p>Last Name:  @Model.LastName</p>

<p>Address:  @Model.Address</p>

<p>City:  @Model.City</p>

<p>State:  @Model.State</p>

<p>Phone Number:  @Model.PhoneNumber</p>

<p>Position:  @Model.Position</p>

