@model IEnumerable<TeamManagement.Models.GameScheduleModels>
@{
    ViewBag.Title = "Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Schedule</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GameTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opponent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocationName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GameDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GameTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opponent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zip)
            </td>
        </tr>
    }

</table>
