@model TeamManagement.Models.ApplicationUser
@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Applications</h2>

<table class="table table-bordered table-hover" ">
    <thead>
        <tr>
            <th>Team Roster</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Player Name</th>
            <th>Joined</th>
            <th>Position</th>
            <th>Status</th>
        </tr>
        @foreach (var player in Model.Players)
        {

            string status = "";

            <tr>
                <td>@player.FirstName @player.LastName</td>
                <td>@player.PlayerJoinDate</td>
                <td>@player.Position</td>
                <td>
                    @if (player.IsInjured == true)
                {
                    status = "Injured";
                }
                else
                {
                    status = "Active";
                }
                @Html.ActionLink(@status, "ChangeStatus", "Coach", new { playerId = player.Id }, null)
            </td>
        </tr>
        }
    </tbody>
</table>