@model TeamManagement.ViewModels.AttendanceViewModel
@{
    ViewBag.Title = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team Management</h2>
<p>Enter date to mark attendance for</p>    


   

    @*<table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Team Roster</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Player Name</th>
            <th>Joined</th>
            <th>Position</th>
            <th>Status</th>
        </tr>
        @foreach (var player in Model.Players)
        {

            string status = "";

            <tr>
                <td>@player.FirstName @player.LastName</td>
                <td>@player.PlayerJoinDate</td>
                <td>@player.Position</td>
                <td>@if (player.IsInjured == true)
                    {
                        status = "Injured";
                    }
                    else
                    {
                        status = "Active";
                    }
                    @Html.ActionLink(@status, "ChangeStatus", "Coach", new {playerId = player.Id}, null)</td>
            </tr>
        }
        </tbody>
    </table>*@

@*<div class="form-group">
    <div >
        <button class="btn btn-default" value="Mark Attendance" type="button" id="saveAttendance" onclick="location.href='@Url.Action("UpdateAttendance", "Coach")'"/>
    </div>
</div>*@

@*@Html.CheckBoxFor(Model=>Model.Players.)
@for (int i = 0; i < Model.Players.Count; i++)
{
        <br/>
        @Html.HiddenFor(x=>x.Players[i].Id)
    <br/>
        @Html.CheckBoxFor(x=>x.Players[i].IsInjured)

}

<div class="form-group">
<input type="submit" class="btn btn-default" value="Save" />
</div>*@

@using (Html.BeginForm("Attendance", "Coach"))
{

    @*@Html.DropDownListFor(model => model.GameSchedules, new SelectList(Model.GameSchedules, "GameDate", "DisplayName"), "")*@
    <div>
    @Html.DropDownListFor(model => model.GameDates, new SelectList(Model.GameDates, "Date", "Date"), "")
        </div>
    @*@Html.EditorFor(model => model.AttendanceModels.AbsentDate)*@

    //foreach (var player in Model.Players)
    //{
    <br/>
    @*@Html.CheckBox("Present", false)*@
        @*@Html.CheckBoxFor(p=>p.IsAbsent)
        @Html.Label(@player.FirstName)*@
  @*}*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Set Attendance" class="btn btn-default" />
        </div>
    </div>
}

